In [1]:
import numpy as np
import pandas as pd
from os import getcwd, listdir

data_path = getcwd() + "/data/sas_to_pandas/raw/wages"
grow_path = getcwd() + "/data/sas_to_pandas/joins/OCC_List.csv"
df = pd.read_csv(f"{data_path}/{listdir(data_path)[0]}")

In [2]:
df.head()

,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,SOC_CODE,TITLE,O_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,H_MEAN,A_MEAN,H_MEDIAN,A_MEDIAN
0,OH,0,Cross-industry,cross-industry,1235,00-0000.00,All Occupations,total,5201030,0,1000,1,25.56,53170,19.08,39680
1,OH,0,Cross-industry,cross-industry,1235,11-0000.00,Management Occupations,major,278880,0.6,53.619,0.85,53.84,111980,47.53,98870
2,OH,0,Cross-industry,cross-industry,1235,11-1011.00,Chief Executives,detailed,4590,3.8,0.883,0.62,103.36,214990,86.39,179680
3,OH,0,Cross-industry,cross-industry,1235,11-1021.00,General and Operations Managers,detailed,89630,1.2,17.232,0.81,52.39,108980,45.6,94840
4,OH,0,Cross-industry,cross-industry,1235,11-1031.00,Legislators,detailed,3300,6.8,0.635,2.01,.,55220,.,36940

In [3]:
import numpy as np
import pandas as pd
from os import getcwd, listdir

data_path = getcwd() + "/data/sas_to_pandas/raw/wages"
grow_path = getcwd() + "/data/sas_to_pandas/joins/OCC_List.csv"
df = pd.read_csv(f"{data_path}/{listdir(data_path)[0]}")

df.head()

# Filter with the following columns
cols = ['SOC_CODE', 'TITLE', 'A_MEDIAN']

sub_df = df[cols]

# Retrieve OCC List
occ_df = pd.read_csv(grow_path)

occ_df.columns

# Keep SubFrame of just SOC_Code and GROW
sub_occ_df = occ_df[['SOC_Code', 'Grow']]
sub_occ_df.columns = [col.upper() for col in sub_occ_df.columns.tolist()]

sub_occ_df.head()
sub_df.shape

# Join with the wages dataframe
final_df = sub_df.merge(sub_occ_df, on=['SOC_CODE']).sort_values('TITLE')

# Check dtypes of dataframe
final_df.info()

# Cast type of A_MEDIAN as int32 in numpy
final_df['A_MEDIAN'] = final_df['A_MEDIAN'].astype(np.int32)

# Get the Wage Column by Dividing MEDIAN by 1000
final_df['WAGE'] = final_df['A_MEDIAN'] / 1000

# Drop the A_MEDIAN column
final_df.drop('A_MEDIAN', axis=1, inplace=True)

# Reset the index and drop extra index column
final_df = final_df.reset_index().drop('index', axis=1)

# Rearranging the index to start from 1
final_df.index = range(1, final_df.shape[0]+1)

# View table
final_df

# Save the file
final_df.to_csv(f"{data_path}/Wages_Table_Final.csv", index=False)

# Learnings
soc_codes = final_df['SOC_CODE'].unique()

df[df['SOC_CODE'].isin(soc_codes.tolist())]['TITLE'].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 8 to 0
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SOC_CODE  20 non-null     object
 1   TITLE     20 non-null     object
 2   A_MEDIAN  20 non-null     object
 3   GROW      20 non-null     object
dtypes: object(4)
memory usage: 800.0+ bytes

array(['Title Examiners, Abstractors, and Searchers',
       'Preschool Teachers, Except Special Education',
       'Merchandise Displayers and Window Trimmers',
       'Pharmacy Technicians', 'Nursing Assistants',
       'Physical Therapist Assistants', 'Dental Assistants',
       'Security Guards', 'Bill and Account Collectors',
       'Bookkeeping, Accounting, and Auditing Clerks',
       'Payroll and Timekeeping Clerks', 'Procurement Clerks',
       'File Clerks', 'Order Clerks',
       'Human Resources Assistants, Except Payroll and Timekeeping',
       'Dispatchers, Except Police, Fire, and Ambulance',
       'Executive Secretaries and Executive Administrative Assistants',
       'Secretaries and Administrative Assistants, Except Legal, Medical, and Executive',
       'Data Entry Keyers', 'Office Clerks, General'], dtype=object)